.CodeMirror {
  line-height: 1em;
  font-family: monospace;
  position: relative;
  overflow: hidden;
}

.CodeMirror-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  height: auto;
  min-height: 500px;
  position: relative;
  outline: none;
}

.CodeMirror-scrollbar {
  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: -1px;
}
.CodeMirror-scrollbar-inner {
  width: 1px;
}
.CodeMirror-scrollbar.cm-sb-overlap {
  position: absolute;
  z-index: 1;
  float: none;
  right: 0;
  min-width: 12px;
}
.CodeMirror-scrollbar.cm-sb-nonoverlap {
  min-width: 12px;
}
.CodeMirror-scrollbar.cm-sb-ie7 {
  min-width: 18px;
}

.CodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  z-index: 10;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}
.CodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
  white-space: pre !important;
}
.CodeMirror-lines {
  padding: .4em;
  white-space: pre;
  cursor: text;
}
.CodeMirror-lines * {
  pointer-events: none;
}

.CodeMirror pre {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-width: 0; margin: 0; padding: 0; background: transparent;
  font-family: inherit;
  font-size: 14px;
  padding: 0; margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}
.CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

.CodeMirror textarea {
  outline: none !important;
}

.CodeMirror pre.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}

.cm-keymap-fat-cursor pre.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: transparent;
  background: rgba(0, 200, 0, .4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6600c800, endColorstr=#4c00c800);
}

.cm-keymap-fat-cursor pre.CodeMirror-cursor:not(#nonsense_id) {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.CodeMirror pre.CodeMirror-cursor.CodeMirror-overwrite {}
.CodeMirror-focused pre.CodeMirror-cursor {
  visibility: visible;
}

div.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused div.CodeMirror-selected { background: #d7d4f0; }

.CodeMirror-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* Default theme */

.cm-s-default span.cm-keyword {color: #708;}
.cm-s-default span.cm-atom {color: #219;}
.cm-s-default span.cm-number {color: #164;}
.cm-s-default span.cm-def {color: #00f;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #085;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-operator {color: black;}
.cm-s-default span.cm-comment {color: #a50;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-string-2 {color: #f50;}
.cm-s-default span.cm-meta {color: #555;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}
.cm-s-default span.cm-header {color: blue;}
.cm-s-default span.cm-quote {color: #090;}
.cm-s-default span.cm-hr {color: #999;}
.cm-s-default span.cm-link {color: #00c;}

span.cm-header, span.cm-strong {font-weight: bold;}
span.cm-em {font-style: italic;}
span.cm-emstrong {font-style: italic; font-weight: bold;}
span.cm-link {text-decoration: underline;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}


/* Espresso theme for CodeMirror */
.cm-s-espresso .cm-keyword {
  color: #2F6F9F;
  background-color: rgb(244, 250, 255);
}

.cm-s-espresso .cm-atom {
  color: #70a145;
}

.cm-s-espresso .cm-number {
  color: #70a145;
}

.cm-s-espresso .cm-def {
  color: #aac6e3;
}

.cm-s-espresso .cm-variable {
  color: #d1431c;
}

.cm-s-espresso .cm-variable-2 {
  color: #333;
}

.cm-s-espresso .cm-variable-3 {
  color: #faded3;
}

.cm-s-espresso .cm-property {
  color: #333;
}

.cm-s-espresso .cm-operator {
  color: #fa8d6a;
}

.cm-s-espresso .cm-comment {
  color: #b2b2b2;
  font-weight: normal;
}

.cm-s-espresso .cm-string {
  color: #d44950;
}

.cm-s-espresso .cm-string-2 {
  color: #9d937c;
}

.cm-s-espresso .cm-meta {
  color: #b2b2b2;
}

.cm-s-espresso .cm-error {
  background-color: #f93232;
  color: #f9f2ce;
}

.cm-s-espresso .cm-qualifier {
  color: yellow;
}

.cm-s-espresso .cm-builtin {
  color: #9999cc;
}

.cm-s-espresso .cm-bracket {
  color: #7f7f7f;
}

.cm-s-espresso .cm-tag {
  color: #2F6F9F;
}

.cm-s-espresso .cm-attribute {
  color: #4F9FCF;
}

.cm-s-espresso .cm-header {
  color: blue;
}

.cm-s-espresso .cm-quote {
  color: #24C2C7;
}

.cm-s-espresso .cm-hr {
  color: pink;
}

.cm-s-espresso .cm-link {
  color: #F4C20B;
}

.cm-s-espresso .cm-special {
  color: #FF9D00;
}

.cm-s-espresso .CodeMirror-matchingbracket {
  outline: 1px solid #ccc;
}

.cm-s-espresso .CodeMirror-nonmatchingbracket {
  color: #f22;
}


/* Editor styling */
.cm-s-espresso {
  font-size: 12px;
  border: 1px solid #E3E3E3;
  line-height: 1.4;
  font-family: Monaco, Menlo, 'Andale Mono', 'lucida console', monospace !important;
  color: #000;
  background: #fff;
}

.cm-s-espresso .CodeMirror-gutter {
  background: #fbfbfb;
  padding: 0 5px;
}

.cm-s-espresso .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #bebec5;
}

.cm-s-espresso .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #000;
}

.cm-s-espresso .activeline {
  background: #f2f4f7;
}
